MJU_LMS_APP_DIR=
MJU_LMS_PROFILE_FILE=
MJU_LMS_SESSION_FILE=
MJU_LMS_MAIN_HTML_FILE=
MJU_LMS_COURSES_FILE=
MJU_LMS_DOWNLOADS_DIR=
MJU_LMS_CREDENTIAL_SERVICE_NAME=
MJU_LMS_USER_AGENT=

MJU_MSI_APP_DIR=
MJU_MSI_SESSION_FILE=
MJU_MSI_MAIN_HTML_FILE=
MJU_MSI_MENU_FILE=
MJU_MSI_USER_AGENT=

MJU_UCHECK_APP_DIR=
MJU_UCHECK_SESSION_FILE=
MJU_UCHECK_MAIN_HTML_FILE=
MJU_UCHECK_USER_AGENT=

MJU_LIBRARY_APP_DIR=
MJU_LIBRARY_SESSION_FILE=
MJU_LIBRARY_USER_AGENT=
